<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>atualizar jogos</h1>
<form action="/atualizarJogos" method="post" enctype="multipart/form-data">
    <input type="text" name="nomeAntigoJogo" placeholder="Digite o nome do seu jogo que você quer mudar">
    <input type="text" name="nomeNovoJogo" placeholder="Digite o novo nome do seu jogo">
    <input type="text" name="precoNovoJogo" placeholder="Digite o novo preco do jogo">
    <input type="text" name="descricaoNovoJogo" placeholder="Digite uma nova breve descricao do jogo">
    <input type="file" name="fotoNovoJogo" accept=".jpeg, .jpg">
    <input type="date" name="dataLNovoJogo" placeholder="Digite a nova data de lancamento do jogo">
    <button type="submit">clica ai</button>
</form>
</body>
</html>