<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>criar jogos</h1>

<form action="/criarJogos" method="post" enctype="multipart/form-data">
    <!--<input type="text" name="nomeEmpresa" placeholder="Digite o nome da empresa que será a dona do jogo">-->
    <input type="text" name="nomeJogos" placeholder="Digite o nome do seu jogo">
    <input type="text" name="precoJogo" placeholder="Digite o preco do jogo">
    <input type="text" name="descricaoJogo" placeholder="Digite uma breve descricao do jogo">
    <input type="file" name="fotoJogo" accept=".jpeg, .jpg">
    <input type="date" name="dataLJogo" placeholder="Digite a data de lancamento do jogo">
    <button type="submit">clica ai</button>
</form>

</body>
</html>


