<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="empresas.css" media="screen" />
</head>
<body>
    <center>
    <h2>seja bem-vindo!</h2>
    <h4>Deseja adicionar algum jogo?</h4>
    <button type="button"; style="width: 70px;height: 50px;">adicionar:</button>
    <br>
    <h4>Deseja ir para os produtos ja cadastrados?</h4>
    <button type="button"; style="width: 70px;height: 50px;">ir</button>
</center>
</body>
</html>
