<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="landingpage.css" media="screen" />


</head>
<body>

    <center>
    <h1>Seja bem-vindo!!</h1>
    
    <h4>Deseja achar algum jogo?</h4>

    <div id="divBusca">
        <input type="text" id="txtBusca" style="width: 210px;height: 40px; background-color: crimson;" placeholder="Buscar jogos..."/>
      </div>

      <h4>logar ou Cadastrar?</h4>

    <button type="submit" style="width: 210px;height: 40px; background-color: rgb(66, 19, 119);">Cadastrar</button>
    <button type="submit" style="width: 210px;height: 40px; background-color: rgb(159, 192, 11);">login</button>
    </center>

</body>
</html>
