<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="homeusuario.css">

</head>
<body>
    <div class="box-busca">
        <div class="search-box">
            
            <form method="post" action="#">
                <input type="text" class="search-box-input" name="busca" placeholder="Faça sua Pesquisa">
                <button class="search-box-button"><i class="search-box-icone icon icon-search"></i></button>
            </form>
        </div>
    </div>
    <center>
    <button 
    name="cent" 
    style=" background-color: green;"> Biblioteca</button>
   
    <div id="posicionar">
    <button 
    name="cent" 
    style=" background-color: green;">
    Comprar
    </button>
    </div>
    <div><img src="Cactus-removebg-preview.png"></div>
    </center>
    
        
</body>
</html>
