<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar Jogos"/>
      </div>
    
    <h4>Sua Biblioteca:</h4>
    <button type="button">Biblioteca</button>
    <br>
    <h4>Clique aqui para comprar um jogo!</h4>
    <button type="button">comprar...</button>
</body>
</html>